:root {
--cor-principal: #05bf7e;
}
body,
html {
height: 100%;
margin: 0;
background-image: url('../img/fundo.jpg');
background-size: cover;
background-position: center;
}
.login-container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.login-form {
background-color: rgba(255, 255, 255, 0.5);
padding: 60px;
border-radius: 8px;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
width: 100%;
max-width: 600px;
}

h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.form-control {
padding: 15px;
border: 1px solid black;
}

.btn-custom {
background-color: var(--cor-principal);
color: white;
border: none;
padding: 15px;
font-size: 16px;
transition: background-color 0.3s ease;
}

.btn-custom:hover {
background-color: #00ab6c;
color: white;
}

.forgot-password {
text-align: right;
color: #000000;
}

.forgot-password a {
color: #000000;
}

.forgot-password a:hover {
color: #ffffff;
}

.input-group {
margin-bottom: 15px;
}

.input-group-text {
background-color: transparent;
border: 1px solid #1f4a7c;
}

#esquecisenha {
color: white;
text-align: center;
font-size: 18px;
text-decoration: none;
margin-top: 15px;
}

#toggleSenha {
font-size: 1.2rem;
color: black;
}