.form-container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h5 {
    margin: 0;
}

.form-cad {
    margin-left: 100px;
}

.form-container h1 {
    text-align: center;
}

#mytable_filter{
    margin-left: 100px;
}

@media (max-width: 395px) {
    .form-cad {
        font-size: 0.90rem;
        margin-left: 20px;
    }

    .media-h5 {
        font-size: 0.90rem;
        margin-left: 10px;
    }
}

@media (max-width: 412px) {
    .form-cad {
        font-size: 0.90rem;
        margin-left: 20px;
    }

    .media-h5 {
        font-size: 0.90rem;
        margin-left: 10px;
    }
}

@media (max-width: 600px) {
    .form-cad {
        font-size: 0.90rem;
        margin-left: 20px;
    }

    .media-h5 {
        font-size: 0.90rem;
        margin-left: 10px;
    }
}

@media (max-width: 900px) {
    .form-cad {
        font-size: 0.99rem;
        margin-left: 20px;
    }

    .media-h5 {
        font-size: 0.99rem;
        margin-left: 10px;
    }
}